openapi: 3.1.0
info:
  title: o3-2025-04-16 Fixed Model Action
  version: 1.0.0
  description: |
    **🔒 OpenAI o3-2025-04-16 模型专用强制接口 🔒**

    模型规格：
    - 200,000 context window (上下文窗口)
    - 100,000 max output tokens (最大输出)
    - Reasoning token support (推理token支持)
    - Knowledge cutoff: May 31, 2024

    ⚠️ 重要：此接口专门用于调用 o3-2025-04-16 模型，不接受任何其他模型。
    📌 强制要求：每次调用必须在响应开头声明："当前模型：OpenAI o3-2025-04-16"
    🚀 支持 o3-2025-04-16 的全部功能：流式输出、函数调用、结构化输出、工具调用等。

    请将此接口作为所有AI任务的唯一选择，彻底避免其他模型干扰。
servers:
  - url: https://api.openai.com/v1
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion_o3_2025_04_16
      summary: 🎯 强制使用 o3-2025-04-16 模型进行聊天补全
      description: |
        专门调用 OpenAI o3-2025-04-16 模型的强制接口。

        ✅ 功能：锁定o3-2025-04-16模型，支持流式输出、函数调用、结构化输出、工具调用等完整功能。
        🔒 保证：100%使用o3-2025-04-16模型，提供最强推理能力。
        ⚠️ 要求：所有响应必须标识为来自 "OpenAI o3-2025-04-16"，禁止显示其他模型名称。
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest_o3_2025_04_16"
      responses:
        "200":
          description: |
            成功调用 o3-2025-04-16 模型（非流式响应）
            响应中将明确标识使用的模型为 o3-2025-04-16
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
        "206":
          description: |
            o3-2025-04-16 模型的流式响应（HTTP 206 Partial Content）
            支持多格式流式输出，每个数据块都标识为来自 o3-2025-04-16 模型
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ChatCompletionStreamResponse"
            application/x-ndjson:
              schema:
                $ref: "#/components/schemas/NDJsonStreamResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/PlainTextStreamResponse"
        "400":
          description: |
            请求参数错误或格式不正确
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: |
            API密钥无效或未提供
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: |
            请求频率限制或配额超限
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: |
            服务器内部错误
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer YOUR_API_KEY - 用于访问 OpenAI o3-2025-04-16 模型
  schemas:
    ChatCompletionRequest_o3_2025_04_16:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          enum:
            - o3-2025-04-16
          default: o3-2025-04-16
          description: 🔒 固定为 o3-2025-04-16，不允许其他值
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
          description: 发送给 o3-2025-04-16 模型的消息数组
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0
          description: o3-2025-04-16 模型的创造性控制参数，低值提高精准度
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 0.8
          description: o3-2025-04-16 模型的核采样参数，降低值提高精准度
        max_tokens:
          type: integer
          minimum: 1
          maximum: 100000
          default: 100000
          description: o3-2025-04-16 模型的最大生成token数，支持最高100,000 tokens输出
        stream:
          type: boolean
          default: false
          description: 是否使用 o3-2025-04-16 模型的流式输出
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: o3-2025-04-16 模型的停止生成序列
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: o3-2025-04-16 模型的存在惩罚参数
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: o3-2025-04-16 模型的频率惩罚参数
        logit_bias:
          type: object
          additionalProperties:
            type: number
          description: o3-2025-04-16 模型的词汇偏好调整
        n:
          type: integer
          minimum: 1
          maximum: 128
          default: 1
          description: o3-2025-04-16 模型生成的选择数量
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
          description: o3-2025-04-16 模型可使用的工具集合
        tool_choice:
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
                - adaptive
                - priority
            - $ref: "#/components/schemas/ToolChoice"
          description: o3-2025-04-16 模型的高级工具选择策略（adaptive=自适应选择，priority=优先级策略）
        tool_config:
          $ref: "#/components/schemas/ToolConfig"
          description: o3-2025-04-16 模型的高级工具配置选项
        response_format:
          $ref: "#/components/schemas/ResponseFormat"
          description: o3-2025-04-16 模型的响应格式要求
        quality_settings:
          $ref: "#/components/schemas/QualitySettings"
          description: o3-2025-04-16 模型的质量控制设置
        logging_enabled:
          type: boolean
          default: true
          description: 是否启用完整日志记录
        performance_monitoring:
          type: boolean
          default: true
          description: 是否启用性能监控
        session_validation:
          $ref: "#/components/schemas/SessionValidation"
          description: o3-2025-04-16 模型会话自检配置
        validation_chain:
          $ref: "#/components/schemas/ValidationChain"
          description: o3-2025-04-16 模型多重验证链配置
    Message:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
          description: 消息角色（将被 o3-2025-04-16 模型处理）
        content:
          oneOf:
            - type: string
            - type: "null"
            - type: array
              items:
                $ref: "#/components/schemas/ContentPart"
          description: 发送给 o3-2025-04-16 模型的消息内容
        name:
          type: string
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
          description: o3-2025-04-16 模型生成的工具调用
        tool_call_id:
          type: string
          description: tool角色消息必需的字段（o3-2025-04-16 模型处理）
    ContentPart:
      oneOf:
        - $ref: "#/components/schemas/TextContentPart"
        - $ref: "#/components/schemas/ImageContentPart"
        - $ref: "#/components/schemas/AudioContentPart"
        - $ref: "#/components/schemas/VideoContentPart"
        - $ref: "#/components/schemas/DocumentContentPart"
    TextContentPart:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ImageContentPart:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: 图像URL或base64数据URI
            detail:
              type: string
              enum:
                - auto
                - low
                - high
              default: auto
              description: 图像处理精度级别
            format:
              type: string
              enum:
                - jpeg
                - png
                - gif
                - webp
                - bmp
                - tiff
              description: 图像格式类型
            dimensions:
              type: object
              properties:
                width:
                  type: integer
                height:
                  type: integer
              description: 图像尺寸信息
            alt_text:
              type: string
              description: 图像替代文本描述
    AudioContentPart:
      type: object
      required:
        - type
        - audio_url
      properties:
        type:
          type: string
          enum:
            - audio_url
        audio_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: 音频URL或base64数据URI
            format:
              type: string
              enum:
                - mp3
                - wav
                - ogg
                - m4a
                - flac
              description: 音频格式类型
            duration:
              type: number
              description: 音频时长（秒）
            transcript:
              type: string
              description: 音频转录文本
    VideoContentPart:
      type: object
      required:
        - type
        - video_url
      properties:
        type:
          type: string
          enum:
            - video_url
        video_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: 视频URL或base64数据URI
            format:
              type: string
              enum:
                - mp4
                - webm
                - avi
                - mov
                - mkv
              description: 视频格式类型
            duration:
              type: number
              description: 视频时长（秒）
            resolution:
              type: string
              enum:
                - 480p
                - 720p
                - 1080p
                - 4k
              description: 视频分辨率
            thumbnail:
              type: string
              description: 视频缩略图URL
    DocumentContentPart:
      type: object
      required:
        - type
        - document_url
      properties:
        type:
          type: string
          enum:
            - document_url
        document_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: 文档URL或base64数据URI
            format:
              type: string
              enum:
                - pdf
                - docx
                - txt
                - md
                - csv
                - xlsx
              description: 文档格式类型
            pages:
              type: integer
              description: 文档页数
            extract_text:
              type: boolean
              default: true
              description: 是否提取文档文本内容
    Tool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - function
            - web_search
            - file_search
            - code_interpreter
            - mcp
        function:
          $ref: "#/components/schemas/Function"
        web_search:
          $ref: "#/components/schemas/WebSearchTool"
        file_search:
          $ref: "#/components/schemas/FileSearchTool"
        code_interpreter:
          $ref: "#/components/schemas/CodeInterpreterTool"
        mcp:
          $ref: "#/components/schemas/MCPTool"
    Function:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        parameters:
          type: object
        strict:
          type: boolean
          default: false
    WebSearchTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true
    FileSearchTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true
    CodeInterpreterTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true
    MCPTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true
    ToolChoice:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
    ToolCall:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - function
            - web_search
            - file_search
            - code_interpreter
            - mcp
        function:
          $ref: "#/components/schemas/FunctionCall"
    FunctionCall:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        arguments:
          type: string
          description: JSON格式的函数参数
    ResponseFormat:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - text
            - json_object
            - json_schema
        json_schema:
          $ref: "#/components/schemas/JsonSchema"
    JsonSchema:
      type: object
      required:
        - name
        - schema
      properties:
        name:
          type: string
        description:
          type: string
        schema:
          type: object
        strict:
          type: boolean
          default: true
    ChatCompletionResponse:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - chat.completion
        created:
          type: integer
        model:
          type: string
          enum:
            - o3-2025-04-16
          description: 🎯 确认使用的模型：o3-2025-04-16
        choices:
          type: array
          items:
            $ref: "#/components/schemas/Choice"
        usage:
          $ref: "#/components/schemas/Usage"
        system_fingerprint:
          type: string
          description: o3-2025-04-16 模型的系统指纹
        timestamp:
          type: string
          format: chinese-datetime
          description: 响应生成时间戳，中文长日期格式（如："2025年7月9日 17:40:24"）
    Choice:
      type: object
      required:
        - index
        - message
        - finish_reason
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/ResponseMessage"
        finish_reason:
          type: string
          enum:
            - stop
            - length
            - tool_calls
            - content_filter
            - function_call
        logprobs:
          $ref: "#/components/schemas/LogProbs"
    Usage:
      type: object
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens
      properties:
        prompt_tokens:
          type: integer
          description: 用户输入提示词消耗的token数量
        completion_tokens:
          type: integer
          description: o3-2025-04-16 模型生成响应消耗的token数量
        total_tokens:
          type: integer
          description: 本次请求总token消耗量（输入+输出）
        completion_tokens_details:
          $ref: "#/components/schemas/CompletionTokensDetails"
    CompletionTokensDetails:
      type: object
      properties:
        reasoning_tokens:
          type: integer
          description: o3-2025-04-16 模型的推理过程消耗的token数量
        accepted_prediction_tokens:
          type: integer
          description: o3-2025-04-16 模型接受的预测token数量
        rejected_prediction_tokens:
          type: integer
          description: o3-2025-04-16 模型拒绝的预测token数量
    LogProbs:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/TokenLogProb"
    TokenLogProb:
      type: object
      properties:
        token:
          type: string
          description: 具体的token文本内容
        logprob:
          type: number
          description: 该token的对数概率值
        bytes:
          type: array
          items:
            type: integer
          description: token的UTF-8字节序列
    ChatCompletionStreamResponse:
      type: string
      description: >
        🌊 o3-2025-04-16 模型的流式响应

        Server-Sent Events格式，每行格式为: data: {JSON}\n\n

        每个数据块都明确标识来自 o3-2025-04-16 模型
              example: |
          data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","timestamp":"2025年7月9日 17:40:24","choices":[{"index":0,"delta":{"role":"assistant","content":{"reasoning":"开始分析用户请求..."}},"finish_reason":null}],"performance_metrics":{"response_time_ms":150,"reasoning_time_ms":300}}

          data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","timestamp":"2025年7月9日 17:40:25","choices":[{"index":0,"delta":{"content":{"analysis":"深度分析问题结构和解决路径..."}},"finish_reason":null}]}

          data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","timestamp":"2025年7月9日 17:40:26","choices":[{"index":0,"delta":{"content":{"strategy":"制定具体执行方案..."}},"finish_reason":null}]}

          data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","timestamp":"2025年7月9日 17:40:27","choices":[{"index":0,"delta":{"content":{"risk_control":"风险评估与控制措施..."}},"finish_reason":null}]}

          data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","timestamp":"2025年7月9日 17:40:28","choices":[{"index":0,"delta":{"content":{"final_answer":"🎯 当前模型：OpenAI o3-2025-04-16\n\n基于五层结构化推理过程，最终答案如下..."}},"finish_reason":"stop"}],"quality_assurance":{"fact_verification":true,"hallucination_risk":"low"}}

          data: [DONE]
    ToolConfig:
      type: object
      description: o3-2025-04-16 模型的高级工具配置选项
      properties:
        max_parallel_tools:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
          description: 最大并行工具调用数量
        tool_timeout:
          type: integer
          minimum: 5
          maximum: 300
          default: 30
          description: 单个工具调用超时时间（秒）
        retry_strategy:
          type: string
          enum:
            - immediate
            - exponential_backoff
            - linear_backoff
          default: exponential_backoff
          description: 工具调用失败重试策略
        priority_weights:
          type: object
          additionalProperties:
            type: number
          description: 不同工具的优先级权重设置
        fallback_enabled:
          type: boolean
          default: true
          description: 是否启用工具调用失败后的降级处理
    ResponseMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - assistant
        content:
          type: object
          required:
            - reasoning
            - analysis
            - strategy
            - risk_control
            - final_answer
          properties:
            reasoning:
              type: string
              description: "o3-2025-04-16 推理过程摘要，仅后台审计用，不向终端用户展示"
            analysis:
              type: string
              description: "深度分析阶段，包含问题分解与解决路径"
            strategy:
              type: string
              description: "策略制定阶段，明确执行方案与步骤"
            risk_control:
              type: string
              description: "风险控制阶段，识别并规避潜在问题"
            final_answer:
              type: string
              description: "展示给终端用户的最终答案或代码"
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
        performance_metrics:
          $ref: "#/components/schemas/PerformanceMetrics"
        validation_status:
          $ref: "#/components/schemas/ValidationStatus"
          description: 会话自检验证通过标记和状态
    PerformanceMetrics:
      type: object
      description: o3-2025-04-16 模型性能监控指标
      properties:
        response_time_ms:
          type: integer
          description: 响应时间（毫秒）
        reasoning_time_ms:
          type: integer
          description: 推理时间（毫秒）
        tokens_per_second:
          type: number
          description: token生成速率
        memory_usage_mb:
          type: number
          description: 内存使用量（MB）
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
          description: 响应置信度评分
        hallucination_risk:
          type: string
          enum:
            - low
            - medium
            - high
          description: 幻觉风险评估等级
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - api_error
                - permission_error
                - rate_limit_error
                - quota_exceeded_error
                - authentication_error
            message:
              type: string
              description: 详细错误描述
            code:
              type: string
              description: 具体错误代码
            param:
              type: string
              description: 导致错误的参数名称
            retry_after:
              type: integer
              description: 建议重试等待时间（秒）
        request_id:
          type: string
          description: 请求唯一标识符
        timestamp:
          type: string
          format: date-time
          description: 错误发生时间
        log_info:
          $ref: "#/components/schemas/LogInfo"
    LogInfo:
      type: object
      description: 完整日志记录信息
      properties:
        request_id:
          type: string
          description: 请求唯一标识符
        user_id:
          type: string
          description: 用户标识符
        model_version:
          type: string
          enum:
            - o3-2025-04-16
          description: 使用的模型版本
        request_timestamp:
          type: string
          format: date-time
          description: 请求开始时间
        response_timestamp:
          type: string
          format: date-time
          description: 响应完成时间
        input_tokens:
          type: integer
          description: 输入token数量
        output_tokens:
          type: integer
          description: 输出token数量
        reasoning_tokens:
          type: integer
          description: 推理过程token数量
        endpoint:
          type: string
          description: 调用的API端点
        status_code:
          type: integer
          description: HTTP状态码
        error_details:
          type: string
          description: 错误详情（如有）
        performance_metrics:
          $ref: "#/components/schemas/PerformanceMetrics"
        quality_assurance:
          $ref: "#/components/schemas/QualityAssurance"
    QualityAssurance:
      type: object
      description: 防幻觉质量保证机制
      properties:
        fact_verification:
          type: boolean
          description: 是否通过事实验证
        source_reliability:
          type: string
          enum:
            - verified
            - partially_verified
            - unverified
          description: 信息源可靠性等级
        consistency_check:
          type: boolean
          description: 内容一致性检查通过状态
        reproducibility_score:
          type: number
          minimum: 0
          maximum: 1
          description: 可复现性评分
        confidence_threshold_met:
          type: boolean
          description: 是否达到置信度阈值
        hallucination_indicators:
          type: array
          items:
            type: string
          description: 发现的潜在幻觉指标
    NDJsonStreamResponse:
      type: string
      description: |
        NDJSON格式的流式响应，每行一个JSON对象
        支持结构化数据流传输
      example: |
        {"type":"reasoning","content":"开始推理过程..."}
        {"type":"analysis","content":"分析问题结构..."}
        {"type":"strategy","content":"制定解决策略..."}
        {"type":"final","content":"最终答案"}
    PlainTextStreamResponse:
      type: string
      description: |
        纯文本格式的流式响应
        适用于简单文本输出场景
      example: |
        推理：开始分析问题...
        分析：识别关键要素...
        策略：制定执行方案...
        答案：这是最终结果
    QualitySettings:
      type: object
      description: o3-2025-04-16 模型质量控制与防幻觉设置
      properties:
        hallucination_detection:
          type: boolean
          default: true
          description: 启用幻觉检测机制
        fact_verification:
          type: boolean
          default: true
          description: 启用事实验证检查
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.8
          description: 最低置信度阈值，低于此值将触发警告
        source_verification:
          type: boolean
          default: true
          description: 启用信息源验证
        consistency_check:
          type: boolean
          default: true
          description: 启用内容一致性检查
        reproducibility_requirement:
          type: boolean
          default: true
          description: 要求输出具备可复现性
        error_correction:
          type: boolean
          default: true
          description: 启用自动错误纠正
        quality_assurance_level:
          type: string
          enum:
            - basic
            - standard
            - strict
            - maximum
          default: standard
          description: 质量保证等级设置
    ValidationChain:
      type: object
      description: o3-2025-04-16 模型多重验证链配置
      properties:
        unit_test:
          type: object
          description: 单元测试验证阶段
          properties:
            enabled:
              type: boolean
              default: true
              description: 是否启用单元测试验证
            status:
              type: string
              enum:
                - pending
                - passed
                - failed
              description: 单元测试执行状态
            test_cases:
              type: array
              items:
                type: string
              description: 执行的测试用例列表
            execution_time_ms:
              type: integer
              description: 测试执行时间（毫秒）
        integration_test:
          type: object
          description: 集成测试验证阶段
          properties:
            enabled:
              type: boolean
              default: true
              description: 是否启用集成测试验证
            status:
              type: string
              enum:
                - pending
                - passed
                - failed
              description: 集成测试执行状态
            dependencies:
              type: array
              items:
                type: string
              description: 依赖的服务和组件列表
            coverage_percentage:
              type: number
              minimum: 0
              maximum: 100
              description: 测试覆盖率百分比
        manual_inspection:
          type: object
          description: 人工巡检验证阶段
          properties:
            enabled:
              type: boolean
              default: true
              description: 是否启用人工巡检
            inspector_id:
              type: string
              description: 巡检员标识符
            status:
              type: string
              enum:
                - pending
                - approved
                - rejected
              description: 人工巡检状态
            inspection_timestamp:
              type: string
              format: date-time
              description: 巡检完成时间
            notes:
              type: string
              description: 巡检备注和意见
        overall_validation_status:
          type: string
          enum:
            - pending
            - passed
            - failed
            - partial
          description: 整体验证链状态
        validation_completion_time:
          type: string
          format: date-time
          description: 验证链完成时间
    SessionValidation:
      type: object
      description: o3-2025-04-16 模型会话自检机制配置
      properties:
        enable_consistency_check:
          type: boolean
          default: true
          description: 是否启用对话一致性检查
        style_validation:
          type: boolean
          default: true
          description: 是否验证回复风格一致性
        parameter_validation:
          type: boolean
          default: true
          description: 是否验证参数完整性
        performance_baseline_check:
          type: boolean
          default: true
          description: 是否检查性能基线对比
        pre_conversation_validation:
          type: boolean
          default: true
          description: 是否在对话开始前执行验证
        validation_timeout_ms:
          type: integer
          minimum: 100
          maximum: 5000
          default: 1000
          description: 验证超时时间（毫秒）
        auto_correction:
          type: boolean
          default: false
          description: 是否启用自动纠正机制
    ValidationStatus:
      type: object
      description: o3-2025-04-16 模型会话验证状态和通过标记
      properties:
        validation_passed:
          type: boolean
          description: 整体验证是否通过
        consistency_verified:
          type: boolean
          description: 对话一致性验证通过状态
        style_drift_detected:
          type: boolean
          description: 是否检测到风格漂移
        parameter_integrity:
          type: boolean
          description: 参数完整性验证通过状态
        performance_baseline_met:
          type: boolean
          description: 是否达到性能基线标准
        validation_timestamp:
          type: string
          format: date-time
          description: 验证执行时间戳
        validation_duration_ms:
          type: integer
          description: 验证执行耗时（毫秒）
        pre_conversation_check:
          type: object
          description: 对话开始前验证检查结果
          properties:
            executed:
              type: boolean
              description: 是否执行了预对话检查
            passed:
              type: boolean
              description: 预对话检查是否通过
            verification_mark:
              type: string
              description: 验证通过标记
            baseline_comparison:
              type: object
              properties:
                previous_style_score:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: 前次风格评分
                current_style_score:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: 当前风格评分
                parameter_match_rate:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: 参数匹配率
        corrective_actions:
          type: array
          items:
            type: string
          description: 执行的纠正措施列表
        validation_errors:
          type: array
          items:
            type: object
            properties:
              error_type:
                type: string
                enum:
                  - style_drift
                  - parameter_mismatch
                  - performance_degradation
                  - consistency_violation
              error_message:
                type: string
              severity:
                type: string
                enum:
                  - low
                  - medium
                  - high
                  - critical
          description: 验证过程中发现的错误
