openapi: 3.1.0
info:
  title: O3 Fixed Model Action
  version: "1.0.0"
  description: |
    调用 OpenAI Chat Completions API 并强制使用 model=o3-2025-04-16；
    每次对话开头声明"当前模型：OpenAI o3-2025-04-16"。
    支持完整的 o3 模型功能：流式输出、函数调用、结构化输出、工具调用等。
servers:
  - url: https://api.openai.com/v1

paths:
  /chat/completions:
    post:
      operationId: createChatCompletionO3
      summary: 使用 o3-2025-04-16 模型进行聊天补全
      description: 此端点代理 OpenAI Chat Completions API，
        字段 model 固定为 o3-2025-04-16，不允许其他值。
        支持流式输出、函数调用、结构化输出、网络搜索、文件搜索、代码解释器、MCP等完整功能。
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequestO3"
      responses:
        "200":
          description: 成功（非流式响应）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
        "206":
          description: 流式响应
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ChatCompletionStreamResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Bearer YOUR_API_KEY"

  schemas:
    ChatCompletionRequestO3:
      type: object
      required: [ model, messages ]
      properties:
        model:
          type: string
          enum: [ o3-2025-04-16 ]
          default: o3-2025-04-16
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
        max_tokens:
          type: integer
          minimum: 1
          description: 最大生成token数
        stream:
          type: boolean
          default: false
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: 停止生成的字符串序列
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        logit_bias:
          type: object
          additionalProperties:
            type: number
        n:
          type: integer
          minimum: 1
          maximum: 128
          default: 1
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
        tool_choice:
          oneOf:
            - type: string
              enum: [none, auto, required]
            - $ref: "#/components/schemas/ToolChoice"
        response_format:
          $ref: "#/components/schemas/ResponseFormat"

    Message:
      type: object
      required: [ role ]
      properties:
        role:
          type: string
          enum: [ system, user, assistant, tool ]
        content:
          oneOf:
            - type: string
            - type: "null"
            - type: array
              items:
                $ref: "#/components/schemas/ContentPart"
        name:
          type: string
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
        tool_call_id:
          type: string
          description: tool角色消息必需的字段

    ContentPart:
      oneOf:
        - $ref: "#/components/schemas/TextContentPart"
        - $ref: "#/components/schemas/ImageContentPart"

    TextContentPart:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [text]
        text:
          type: string

    ImageContentPart:
      type: object
      required: [type, image_url]
      properties:
        type:
          type: string
          enum: [image_url]
        image_url:
          type: object
          required: [url]
          properties:
            url:
              type: string
            detail:
              type: string
              enum: [auto, low, high]

    Tool:
      type: object
      required: [ type ]
      properties:
        type:
          type: string
          enum: [ function, web_search, file_search, code_interpreter, mcp ]
        function:
          $ref: "#/components/schemas/Function"
        web_search:
          $ref: "#/components/schemas/WebSearchTool"
        file_search:
          $ref: "#/components/schemas/FileSearchTool"
        code_interpreter:
          $ref: "#/components/schemas/CodeInterpreterTool"
        mcp:
          $ref: "#/components/schemas/MCPTool"

    Function:
      type: object
      required: [ name ]
      properties:
        name:
          type: string
        description:
          type: string
        parameters:
          type: object
        strict:
          type: boolean
          default: false

    WebSearchTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true

    FileSearchTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true

    CodeInterpreterTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true

    MCPTool:
      type: object
      properties:
        enabled:
          type: boolean
          default: true

    ToolChoice:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [function]
        function:
          type: object
          required: [name]
          properties:
            name:
              type: string

    ToolCall:
      type: object
      required: [id, type]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [function, web_search, file_search, code_interpreter, mcp]
        function:
          $ref: "#/components/schemas/FunctionCall"

    FunctionCall:
      type: object
      required: [name]
      properties:
        name:
          type: string
        arguments:
          type: string
          description: JSON格式的函数参数

    ResponseFormat:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [text, json_object, json_schema]
        json_schema:
          $ref: "#/components/schemas/JsonSchema"

    JsonSchema:
      type: object
      required: [name, schema]
      properties:
        name:
          type: string
        description:
          type: string
        schema:
          type: object
        strict:
          type: boolean
          default: true

    ChatCompletionResponse:
      type: object
      required: [id, object, created, model, choices]
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: "#/components/schemas/Choice"
        usage:
          $ref: "#/components/schemas/Usage"
        system_fingerprint:
          type: string

    Choice:
      type: object
      required: [index, message, finish_reason]
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/Message"
        finish_reason:
          type: string
          enum: [stop, length, tool_calls, content_filter, function_call]
        logprobs:
          $ref: "#/components/schemas/LogProbs"

    Usage:
      type: object
      required: [prompt_tokens, completion_tokens, total_tokens]
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
        completion_tokens_details:
          $ref: "#/components/schemas/CompletionTokensDetails"

    CompletionTokensDetails:
      type: object
      properties:
        reasoning_tokens:
          type: integer
        accepted_prediction_tokens:
          type: integer
        rejected_prediction_tokens:
          type: integer

    LogProbs:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/TokenLogProb"

    TokenLogProb:
      type: object
      properties:
        token:
          type: string
        logprob:
          type: number
        bytes:
          type: array
          items:
            type: integer

    ChatCompletionStreamResponse:
      type: string
      description: "Server-Sent Events格式的流式响应，每行格式为: data: {JSON}\n\n"
      example: |
        data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","choices":[{"index":0,"delta":{"role":"assistant","content":""},"finish_reason":null}]}

        data: {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"o3-2025-04-16","choices":[{"index":0,"delta":{"content":"Hello"},"finish_reason":null}]}

        data: [DONE]
