openapi: 3.1.0
info:
  title: O3 Fixed Model Action
  version: "1.0.0"
  description: |
    调用 OpenAI Chat Completions API 并强制 model=o3；
    每次对话开头声明“当前模型：OpenAI o3”。
servers:
  - url: https://api.openai.com/v1

paths:
  /chat/completions:
    post:
      operationId: createChatCompletionO3
      summary: 使用 o3 模型进行聊天补全
      description: 此端点代理 OpenAI Chat Completions API，
        字段 model 固定为 o3，不允许其他值。
      security:
        - ApiKeyAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequestO3"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    ChatCompletionRequestO3:
      type: object
      required: [ model, messages ]
      properties:
        model:
          type: string
          enum: [ o3 ]
          default: o3
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
        stream:
          type: boolean
          default: false
        presence_penalty:
          type: number
        frequency_penalty:
          type: number
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"

    Message:
      type: object
      required: [ role, content ]
      properties:
        role:
          type: string
          enum: [ system, user, assistant, tool ]
        content:
          type: string
        name:
          type: string

    Tool:
      type: object
      required: [ type ]
      properties:
        type:
          type: string
          enum: [ function ]
        function:
          $ref: "#/components/schemas/Function"

    Function:
      type: object
      required: [ name ]
      properties:
        name:
          type: string
        description:
          type: string
        parameters:
          type: object

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        choices:
          type: array
          items:
            $ref: "#/components/schemas/Choice"
        usage:
          $ref: "#/components/schemas/Usage"

    Choice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/Message"
        finish_reason:
          type: string

    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
